{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    {% if message_warning %}
        <div class="bs-component">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">{{ message_warning }}
                </p>
            </div>
        </div>
    {% endif %}
    <form name="Submit" id="Submit" action="" method="POST">
        <div class="container">
            <div class="card mb-3">
                <div class="card-header">ジャッジ設定</div>
                <div class="card-body">
                    <fieldset>
                        <div class="form-group row">
                            <label for="problemID" class="col-sm-2 col-form-label">problemID</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="problemID"
                                       name="problemID"
                                       value="{{ problemID }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ProblemName" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="ProblemName"
                                       name="ProblemName"
                                       value="{{ title }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TL">Time Limit</label>
                            <select form="Submit" class="form-control" id="Config_TL" name="Config_TL">
                                <option value="2">2s</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ML">Memory Limit</label>
                            <select form="Submit" class="form-control" id="Config_ML" name="Config_ML">
                                <option value="524288">512MB</option>
                            </select>
                        </div>
                        <div class="custom-control custom-switch">
                            <input form="Submit" type="checkbox" class="custom-control-input" id="AllowAccess" name="AllowAccess"
                                   {% if allowAccess  %} checked="" {% endif %}>
                            <label class="custom-control-label" for="AllowAccess">公開する</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input form="Submit" type="checkbox" class="custom-control-input" id="AllowSubmit" name="AllowSubmit"
                                   {% if allowSubmit %} checked="" {% endif %}>
                            <label class="custom-control-label" for="AllowSubmit">提出を許可する</label>
                        </div>
                    {% if Case == 0 %}<small>テストケースが登録されていません。提出を許可しても、ジャッジは正常に行われません。</small> {% endif %}
                    </fieldset>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">問題本文</div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">問題作成時の注意</h4>
                            <p class="card-text">
                                問題本文は200000文字までです。<br>
                                数式は"$"で囲むことで、見やすい形式に変換されます。<br>
                                markdownの形式は、github-markdown-cssに従ってください。</p>
                            <a href="https://sindresorhus.com/github-markdown-css/" class="card-link" target="_blank">markdownの書き方(英語)</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="ProblemBody" name="ProblemBody" rows="5"
                                  wrap=off>{{ problemBody }}</textarea>
                    </div>
                    <script>
                        var easyMDE = new EasyMDE({element: document.getElementById('ProblemBody'),
                            nativeSpellcheck:false,
                            spellChecker:false
                        });
                    </script>
                </div>
            </div>
            {% csrf_token %}
            <button form="Submit" type="submit" class="btn btn-primary">設定完了</button>

        </div>
    </form>
{% endblock %}