{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="card border-success mb-3">
            <div class="card-header">成功</div>
            <div class="card-body">
                <h4 class="card-title">パスワード再設定完了</h4>
                <p class="card-text">
                    パスワード再設定を完了しました。<br><br>
                    <a class="btn btn-primary btn" href="{% url 'user:login' %}">ログイン</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}